body { 
  background-image: url('https://d26lpennugtm8s.cloudfront.net/stores/631/965/products/stickers-metallica-rock-metal1-77a96ce758e2da0e1f15592365889120-640-0.jpg'); 
  background-size: auto 100vh; 
  font-family: Arial; 
  height: 100vh;
} 

.menu { 
  background-color: white; 
} 

a { 
  text-decoration: none; 
} 

a:hover { 
  color: teal; 
  text-decoration: underline; 
} 

.menu ul { 
  display: flex; 
  justify-content: space-around; 
} 

.menu li { 
  list-style: none; 
} 

.site-subtitle, 
.site-title { 
  color: whitesmoke; 
  text-align: center; 
} 

.site-subtitle{ 
  font-style: italic; 
} 
