body { 
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.superprof.com.br%2Fblog%2Fcomprar-guitarra-e-baixo%2F&psig=AOvVaw1XjAMVwxFih3Fey21hux_G&ust=1589337294123000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMjbjP6krekCFQAAAAAdAAAAABAJ'); 
  background-size: auto 100vh; 
  font-family: Arial; 
  height: 100vh;
} 

.menu { 
  background-color: white; 
} 

a { 
  text-decoration: none; 
} 

a:hover { 
  color: teal; 
  text-decoration: underline; 
} 

.menu ul { 
  display: flex; 
  justify-content: space-around; 
} 

.menu li { 
  list-style: none; 
} 

.site-subtitle, 
.site-title { 
  color: whitesmoke; 
  text-align: center; 
} 

.site-subtitle{ 
  font-style: italic; 
} 
